/* ==== Button styles ==== */ 
/* ======================= */
.btn {
  border-radius: 16px;
}

/* ====== Home Page ====== */
/* ======================= */
.app-title {
  color: white;
  margin-top: 23%;
  margin-bottom: 0;
}
.material-icons {
  margin-left: 30px !important;
}
.flow-text {
  color: white;
  margin-top: 0;
}

/* == Property Show Page == */
/* ======================== */
.basic-list-item {
  color: #575757 
}
.card {
  margin-bottom: 0 !important;
}
#card-content {
  padding: 24px !important;
}
.card-content {
  padding: 0 !important;
}
.collapsible {
  padding: 0 !important;
}
.collapsible-body {
  padding-bottom: 20px !important;
}
.basic-info-header {
  color: #378f83
}

/* ==== User Dash Page ==== */ 
/* ======================== */
#add-button {
  margin-top: 15px;
  border-radius: 50%;
  text-align: none;
}
.add-icon {
  margin-top: 12px;
}
.expand-icon {
  float: right;
  margin-top: 15px;
}
.delete-button {
  background-color: #410e0e;
  float: right;
}
.property-info {
  margin-bottom: 20px;
}

/* ==== Add Property Form ==== */
/* =========================== */
.collapsible-header-add-property {
  color: #378f83 !important;
}
.card {
  padding-top: 20px;
  margin-top: 20px;
}
.dropzone-div {
  position: relative; 
  width: 200px; 
  height: 210px; 
  border-width: 2px; 
  border-color: #26a69a; 
  color: #26a69a;
  border-style: dashed; 
  border-radius: 5px;
  margin-right: 0px !important;
}
.dropzone-guidance {
  font-size: 1.3rem;
  margin: 12px !important;
  text-align: center !important;
}
.pic-preview {
  float: left;
}
.contact-form-subheader {
  font-weight: bold;
  color: #378f83 !important;
}

/* ====== Navs ====== */
/* ================== */
.transparent-nav {
  background-color: transparent !important;
  color: black;
  box-shadow: none;
  margin-top: 1.5%;
  margin-right: -170px;
  margin-left: -50px;
  margin-bottom: 20px;
}
.left-float {
  float: left;
}
.right-float {
  float: right;
}
.fa-home {
  padding: 6px;
  border: 2px solid #fff;
  border-radius: 16px;
  margin-top: 10px;
}

/* ===== Footer ===== */
/* ================== */
.footer {
  position: absolute;
  height: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.left-float-footer {
  float: left;
  margin-left: 70px;
  color: #ececec;
}
.right-float-footer {
  float: right;
  margin-top: 15px;
  margin-right: 70px;
  color: #ececec;
}


