.transparent-nav {
  background-color: transparent !important;
  color: black;
  box-shadow: none;
  margin-top: 1.5%;
  margin-right: -170px;
  margin-left: -50px;;
}
.left-float {
  float: left;
}
.right-float {
  float: right;
}
.fa-home {
  padding: 6px;
  border: 2px solid #fff;
  border-radius: 16px;
  margin-top: 10px;
}
.app-title {
  color: white;
  margin-top: 23%;
  margin-bottom: 0;
}

.material-icons {
  margin-left: 30px !important;
}
.flow-text {
  color: white;
  margin-top: 0;
}