body {
  position: relative;
  margin: 0;
  padding: 0;
  background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('./assets/images/suburb.jpg');
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

