#add-button {
  margin-top: 15px;
  border-radius: 50%;
  text-align: none;
}
.material-icons {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.add-icon {
  margin-top: 12px;
}
.expand-icon {
  float: right;
  margin-top: 15px;
}
.delete-button {
  background-color: #410e0e;
  float: right;
}
.property-info {
  margin-bottom: 20px;
}
.collapsible-body {
  padding-bottom: 0 !important
}
