#add-button {
  margin-top: 15px;
  border-radius: 50%;
  text-align: none;
}
.material-icons {
  margin-left: none !important;
}
.add-icon {
  margin-top: 12px;
}
.view-button {
  float: right;
  margin-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
.delete-button {
  background-color: #410e0e
}
.property-info {
  margin-bottom: 20px;
}
.collapsible-body {
  padding-bottom: 0 !important
}